<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navibar.css" />
    <link rel="stylesheet" href="ganTamp.css" />

    <title>גן</title>
</head>

<body>
    <header>
        <bar>
            <ul>
                <li><a href="/selfPage" id="selfPageLink">אזור אישי</a></li>
                <li><a href="/ganimlist.html">גנים</a></li>
                <li><a href="/aboutPage.html">אודות</a></li>
                <li><a href="/HomeLog.html">בית</a></li>
                <li><a href="/HomeLog.html" class="logo">גן-לי</a></li>
                <li>
                    <a href="/logout" class="login" id="logoutLink">התנתקות</a>
                </li>
            </ul>
        </bar>
    </header>
    <main class="inner">
        <section class="frame-group">
            <div class="frame-container">
                <div class="frame-div">
                    <div class="frame-parent1">
                        <div class="rectangle-group">
                            <div class="frame-item"></div>
                            <div class="container">
                                <div class="div5">:התראות מן הגן</div>
                            </div>
                            <div class="div6">
                                <p class="p">
                                    בעוד יומיים הגן לא עבוד כי הגננת יוצא למסיבה ותהיה שיכורה מדי
                                </p>
                                <p class="p1">
                                    היום קיבלתי יותר מדי הודעות שלא הייתי זמינה להורים ולילדים בגן אבל תבינו אותי היה לי
                                    שלשול חזק
                                    תודה על ההבנה
                                </p>
                            </div>
                        </div>
                        <div class="frame-parent2">
                            <div class="rectangle-container">
                                <div class="frame-inner"></div>
                                <div class="div7">:חזון הגן</div>
                                <div class="div8">
                                    <p class="p2">
                                        בגן הילדים שלנו, אנו מאמינים ביצירת סביבה נעימה ובטוחה
                                        שמקדמת את התפתחותם האישית של הילדים. אנו מקנים חשיבה
                                        יצירתית, רגישות סביבתית, ויכולת לימוד עצמאית באמצעות
                                        פעילויות חווייתיות וכלים טכנולוגיים מתקדמים.
                                    </p>
                                    <p class="p3">
                                        הגן שלנו עובד על מנת להעצים כל ילד ולקדם את התפתחותם
                                        המקצועית, הרגשית והחברתית באופן יחודי ומותאם אישית.
                                    </p>
                                </div>
                            </div>
                            <div class="rectangle-parent1">
                                <div class="rectangle-div"></div>
                                <div class="div9">:עקרונות הגן</div>
                                <div class="div10">
                                    <ol class="ol">
                                        <li class="li">
                                            בטיחות: נקדם אווירה של בטיחות ואחריות בכל זמן ובכל
                                            מקום בגן. נבנה סביבה תומכת ובטוחה.
                                        </li>
                                        <li class="li1">
                                            כבוד לכל ילד ועובד: ניתן לילדים הזדמנויות לבטא עצמם,
                                            ונקדם שיתוף פעולה ואהבה בין הקהילה החינוכית.
                                        </li>
                                        <li>
                                            שמירה על הסביבה: נעזור לילדים להבין ולהעריך את הסביבה
                                            ואת הצורך לשמור עליה. נקדם פעילויות סביבתיות והודעה על
                                            חשיבות שימור הסביבה.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="frame-parent3">
                    <div class="rectangle-parent2">
                        <div class="frame-child1"></div>
                        <div class="div11">
                            <span>שם הגן:</span>
                            <span class="span"> אגוז</span>
                        </div>
                        <div class="div12">
                            <span>מנהלת הגן:</span>
                            <span class="span1"> דיאנה יקימוב</span>
                        </div>
                        <div class="div13">
                            <span>שנת הקמה:</span>
                            <span class="span2"> 1999</span>
                        </div>
                        <div class="div14">
                            <span>אופי הגן:</span>
                            <span class="span3"> ממלכתי - דתי</span>
                        </div>
                        <div class="div15">
                            <span>מספר גננות:</span>
                            <span class="span4"> 3</span>
                        </div>
                        <div class="div16">
                            <span>מספר ילדים:</span>
                            <span class="span5"> 27</span>
                        </div>
                        <div class="div17">
                            <span>מחיר:</span>
                            <span class="span6"> 2,750 ש”ח</span>
                        </div>
                        <div class="div18">
                            <span>צהרון:</span>
                            <span class="span7"> קיים</span>
                        </div>
                        <div class="div19">
                            <p class="p4">
                                <span class="span8">שעות פעילות:</span>
                                <span> </span>
                            </p>
                            <p class="p5">ימי א’ - ה’: 8:00 - 16:00</p>
                            <p class="p6">ימי ו’: 8:00 - 12:00</p>
                        </div>
                    </div>



                </div>
            </div>
            <div class="rectangle-parent3">

                <div class="rectangle-parent4">
                    <div class="frame-child3"></div>
                    <div class="frame-parent4">
                        <div class="frame-parent5">
                            <div class="parent">
                                <div class="div20">אלון יופה</div>
                                <div class="lorem-ipsum-dolor">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nullam pulvinar turpis in erat hendrerit aliquet.
                                </div>
                            </div>
                            <img class="frame-child4" loading="eager" alt=""
                                src="https://www.bmw.co.il/content/dam/bmw/common/all-models/3-series/sedan/2022/navigation/bmw-3-series-sedan-lci-modelfinder.png" />
                        </div>
                        <div class="frame-parent6">
                            <div class="group">
                                <div class="div21">ליאורה זלובין</div>
                                <div class="lorem-ipsum-dolor1">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nullam pulvinar turpis in erat hendrerit aliquet.
                                </div>
                            </div>
                            <img class="frame-child5" loading="eager" alt=""
                                src="https://www.trvst.world/wp-content/uploads/2023/06/camel-during-daytime.jpg" />
                        </div>
                        <div class="frame-parent7">
                            <div class="parent1">
                                <div class="div22">מקסים רבינסקי</div>
                                <div class="lorem-ipsum-dolor2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nullam pulvinar turpis in erat hendrerit aliquet.
                                </div>
                            </div>
                            <img class="frame-child6" loading="eager" alt=""
                                src="https://hips.hearstapps.com/hmg-prod/images/eddie-hall-cut-64958d54e822b.jpg?crop=0.474xw:0.949xh;0.526xw,0&resize=640:*" />
                        </div>
                    </div>
                    <div class="frame">
                        <div class="div23">הוסף ביקורת</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

<script>
    // Get the user's role from the server
    fetch('/profile')
        .then(response => response.json())
        .then(data => {
            const userRole = data.role;
            const selfPageLink = document.getElementById('selfPageLink');

            // Update the selfPageLink based on the user's role
            if (userRole === 'הורה') {
                selfPageLink.href = '/selfPageP.html';
            } else if (userRole === 'גננת') {
                selfPageLink.href = '/selfPageG.html';
            } else if (userRole === 'admin') {
                selfPageLink.href = '/selfPageA.html';
            }
        })
        .catch(error => {
            console.error('Error fetching user role:', error);
        });
</script>

</html>