<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/navibar.css" />
    <link rel="stylesheet" href="/home.css" />

    <title>Home after login</title>
</head>

<body>
    <header>
        <bar>
            <ul>
                <li><a href="/selfPage" id="selfPageLink">אזור אישי</a></li>
                <li><a href="/ganimlist.html">גנים</a></li>
                <li><a href="/aboutPage.html">אודות</a></li>
                <li><a href="/HomeLog.html">בית</a></li>
                <li><a href="/HomeLog.html" class="logo">גן-לי</a></li>
                <li>
                    <a href="/logout" class="login" id="logoutLink">התנתקות</a>
                </li>
            </ul>
        </bar>
    </header>

    <p class="slogan">המקום המושלם <br />!לבחירת הגן שלך</p>

    <a href="ganimlist.html"><button class="start-button">לרשימת הגנים לחץ כאן</button></a>

    <img src="https://github.com/Dianka157/Ganli_Project/blob/main/general/homephoto.png?raw=true" alt="Homepage Image"
        class="homeImg" />

</body>

<script>
    // Get the user's role from the server
    fetch('/profile')
        .then(response => response.json())
        .then(data => {
            const userRole = data.role;
            const selfPageLink = document.getElementById('selfPageLink');

            // Update the selfPageLink based on the user's role
            if (userRole === 'הורה') {
                selfPageLink.href = '/selfPageP.html';
            } else if (userRole === 'גננת') {
                selfPageLink.href = '/selfPageG.html';
            } else if (userRole === 'admin') {
                selfPageLink.href = '/selfPageA.html';
            }
        })
        .catch(error => {
            console.error('Error fetching user role:', error);
        });
</script>

</html>