<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/navibar.css" />
  <link rel="stylesheet" href="/home.css" />

  <title>Home Page</title>
</head>

<body>
  <header>
    <bar>
      <ul>
        <li class="logo"><a href="/home.html">גן-לי</a></li>
        <li><a href="/home.html">בית</a></li>
        <li><a href="/aboutPage.html">אודות</a></li>
        <li><a href="/ganimlist.html" id="ganimLink">גנים</a></li>
        <li>
          <a href="/login" class="login" id="loginLink">התחברות</a>
        </li>
      </ul>
    </bar>
  </header>

  <p class="slogan">המקום המושלם <br />!לבחירת הגן שלך</p>

  <a href="/ganimlist.html" id="startButton"><button class="start-button">לצפייה ברשימת הגנים</button></a>

  <img src="https://github.com/Dianka157/Ganli_Project/blob/main/general/homephoto.png?raw=true" alt="Homepage Image"
    class="homeImg" />

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var ganimLink = document.getElementById('ganimLink');
      var startButton = document.getElementById('startButton');

      function checkLoginAndRedirect(url) {
        fetch('/isLoggedIn')
          .then(response => response.json())
          .then(data => {
            const isLoggedIn = data.isLoggedIn;

            if (isLoggedIn) {
              window.location.href = url;
            } else {
              alert('נדרש להתחבר על מנת לצפות ברשימת הגנים');
            }
          });
      }

      ganimLink.addEventListener('click', function (event) {
        event.preventDefault();
        var url = this.getAttribute('href');
        checkLoginAndRedirect(url);
      });

      startButton.addEventListener('click', function (event) {
        event.preventDefault();
        var url = this.getAttribute('href');
        checkLoginAndRedirect(url);
      });
    });
  </script>
</body>

</html>