<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/home.css" />
  <link rel="stylesheet" href="/public/navibar.css" />

  <title>Home Page</title>
</head>

<body>
  <header>
    <bar>
      <ul>
        <a href="/views/home.html">
          <li class="logo">גן-לי</li>
        </a>
        <li><a href="/views/home.html">בית</a></li>
        <li><a href="aboutPage.html">אודות</a></li>
        <li><a href="GardensList.html">גנים</a></li>
        <li>
          <a href="/src/index.js" class="login" onclick="openLoginPopup()">התחברות</a>
        </li>
      </ul>
    </bar>
  </header>

  <p class="slogan">המקום המושלם <br />!לבחירת הגן שלך</p>

  <a href="GardensList.html"><button class="start-button">לרשימת הגנים לחץ כאן</button></a>

  <img src="https://github.com/Dianka157/Ganli_Project/blob/main/general/homephoto.png?raw=true" alt="Homepage Image"
    class="homeImg" />

  <!-- Script to handle login redirection -->
  <script>
    function openLoginPopup() {
      window.location.href = "/login";
    }
  </script>
</body>

</html>