<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>אזור אישי</title>
    <link rel="stylesheet" href="/navibar.css" />
    <link rel="stylesheet" href="/selfPageA.css" />
</head>

<body>
    <header>
        <bar>
            <ul>
                <li><a href="/selfPage">אזור אישי</a></li>
                <li><a href="/ganimlist.html">גנים</a></li>
                <li><a href="/aboutPage.html">אודות</a></li>
                <li><a href="/HomeLog.html">בית</a></li>
                <li>
                    <a href="/logout" class="login" id="logoutLink">התנתקות</a>
                </li>
                <li><a href="/HomeLog.html" class="logo">גן-לי</a></li>
            </ul>
        </bar>
    </header>
    <div class="main-container">

        <div class="container">
            <div class="profile-info">
                <form id="profileForm">
                    <div class="form-group">
                        <h3>שם מלא</h3>
                        <span id="fullname"></span>
                    </div>
                    <div class="form-group">
                        <h3>מייל</h3>
                        <span id="email"></span>
                    </div>
                    <div class="form-group">
                        <h3>מספר פלאפון</h3>
                        <span id="phone"></span>
                    </div>
                    <div class="form-group">
                        <h3>תפקיד</h3>
                        <span id="role"></span>
                    </div>
                    <button type="button" class="edit-btn" id="editProfileBtn">עריכה</button>
                </form>
            </div>
        </div>

        <div class="approveGan">
            <h2>התראות</h2>
            <ul id="ganApprovalList"></ul>
        </div>
    </div>

    <script>
        // Get the profile form and input fields
        const profileForm = document.getElementById('profileForm');
        const fullnameSpan = document.getElementById('fullname');
        const emailSpan = document.getElementById('email');
        const phoneSpan = document.getElementById('phone');
        const roleSpan = document.getElementById('role');
        const editProfileBtn = document.getElementById('editProfileBtn');

        // Fetch the user's profile data from the server
        fetch('/profile')
            .then(response => response.json())
            .then(data => {
                // Populate the form with the user's profile data
                fullnameSpan.textContent = data.fullname;
                emailSpan.textContent = data.email;
                phoneSpan.textContent = data.phone;
                roleSpan.textContent = data.role;
            })

        // Handle edit profile button click
        editProfileBtn.addEventListener('click', function handleEditClick() {
            // Replace the spans with input fields for editing
            fullnameSpan.innerHTML = `<input type="text" id="fullnameInput" value="${fullnameSpan.textContent}">`;
            emailSpan.innerHTML = `<input type="email" id="emailInput" value="${emailSpan.textContent}">`;
            phoneSpan.innerHTML = `<input type="tel" id="phoneInput" value="${phoneSpan.textContent}">`;

            // Change the edit button to save button
            editProfileBtn.textContent = 'שמור';
            editProfileBtn.removeEventListener('click', handleEditClick);
            editProfileBtn.addEventListener('click', saveProfile);
        });

        // Handle form submission
        function saveProfile() {
            // Get the updated profile data from the form
            const updatedProfileData = {
                fullname: document.getElementById('fullnameInput').value,
                email: document.getElementById('emailInput').value,
                phone: document.getElementById('phoneInput').value
            };

            // Send the updated profile data to the server
            fetch('/profile', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedProfileData)
            })
                .then(response => {
                    if (response.ok) {
                        // Update the spans with the new values
                        fullnameSpan.innerHTML = updatedProfileData.fullname;
                        emailSpan.innerHTML = updatedProfileData.email;
                        phoneSpan.innerHTML = updatedProfileData.phone;

                        // Change the input fields back to spans
                        fullnameSpan.innerHTML = `<span id="fullname">${updatedProfileData.fullname}</span>`;
                        emailSpan.innerHTML = `<span id="email">${updatedProfileData.email}</span>`;
                        phoneSpan.innerHTML = `<span id="phone">${updatedProfileData.phone}</span>`;

                        // Change the save button back to edit button
                        editProfileBtn.textContent = 'ערוך';
                        editProfileBtn.removeEventListener('click', saveProfile);
                        editProfileBtn.addEventListener('click', handleEditClick);

                        alert('Profile updated successfully');
                    } else {
                        console.error('Profile updated successfully');
                        alert('Profile updated successfully');
                    }
                })
                .catch(error => {
                    console.error('Error updating profile:', error);
                    alert('Failed to update profile');
                });
        }

        fetch('/profile')
            .then(response => response.json())
            .then(data => {
                const userRole = data.role;
                const selfPageLink = document.getElementById('selfPageLink');

                // Update the selfPageLink based on the user's role
                if (userRole === 'הורה') {
                    selfPageLink.href = '/selfPageP.html';
                } else if (userRole === 'גננת') {
                    selfPageLink.href = '/selfPageG.html';
                } else if (userRole === 'admin') {
                    selfPageLink.href = '/selfPageA.html';
                }

                // Populate the form with the user's profile data
                fullnameSpan.textContent = data.fullname;
                emailSpan.textContent = data.email;
                phoneSpan.textContent = data.phone;
                roleSpan.textContent = data.role;
            })

        // Fetch the list of gans waiting for approval
        fetch('/gans/waiting')
            .then(response => response.json())
            .then(data => {
                const ganApprovalList = document.getElementById('ganApprovalList');
                data.forEach(gan => {
                    const listItem = document.createElement('li');
                    listItem.textContent = gan.ganName;
                    listItem.setAttribute('data-gan-id', gan._id);

                    const approveButton = document.createElement('button');
                    approveButton.textContent = 'אישור';
                    approveButton.addEventListener('click', () => approveGan(gan._id));

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'מחיקה';
                    deleteButton.addEventListener('click', () => deleteGan(gan._id));

                    listItem.appendChild(approveButton);
                    listItem.appendChild(deleteButton);
                    ganApprovalList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Error fetching gans waiting for approval:', error);
            });

        // Function to approve a gan
        function approveGan(ganId) {
            fetch(`/gans/${ganId}/approve`, { method: 'PUT' })
                .then(response => {
                    if (response.ok) {
                        alert('Gan approved successfully');
                        // Remove the approved gan from the list
                        const listItem = document.querySelector(`#ganApprovalList li[data-gan-id="${ganId}"]`);
                        listItem.remove();
                    } else {
                        console.error('Error approving gan');
                        alert('Failed to approve gan');
                    }
                })
                .catch(error => {
                    console.error('Error approving gan:', error);
                    alert('Failed to approve gan');
                });
        }

        // Function to delete a gan
        function deleteGan(ganId) {
            fetch(`/gans/${ganId}`, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        alert('Gan deleted successfully');
                        // Remove the deleted gan from the list
                        const listItem = document.querySelector(`#ganApprovalList li[data-gan-id="${ganId}"]`);
                        listItem.remove();
                    } else {
                        console.error('Error deleting gan');
                        alert('Failed to delete gan');
                    }
                })
                .catch(error => {
                    console.error('Error deleting gan:', error);
                    alert('Failed to delete gan');
                });
        }
    </script>
</body>

</html>