.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    max-width: -webkit-fill-available;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 1044px;
    padding: 20px;
    background-color: #FFE3A2;
    border-radius: 5px;
    border: solid #FFA800;
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group span {
    display: block;
    font-size: 18px;
}

.edit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    padding: 10px 20px;
    background-color: #FFA800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px #FFA800;
    border-radius: 5px;
    font-size: 20px;
    color: black;
}

.edit-btn:hover {
    background-color: #FFE3A2;
    color: #ffffff;
}

.gan-list-container {
    max-width: 400px;
    padding: 20px;
    background-color: #FFE3A2;
    border-radius: 5px;
    border: solid #FFA800;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    width: -webkit-fill-available;
    ;
    height: 293px;
}

.gan-list-container h2 {
    margin-top: 0;
}

.gan-list-container ul {
    list-style-type: none;
    padding: 0;
}

.gan-list-container li {
    margin-bottom: 10px;
}

.gan-list-container a {
    text-decoration: none;
    color: #333;

}

.gan-list-container button {
    margin-left: 10px;
}

.add-gan-container {
    margin-top: 20px;
    text-align: center;
}

.addGan {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: solid 2px #FFA800;
    border-radius: 5px;
}

.addGan:hover {
    background-color: #FFE3A2;

}

.mygans {
    font-family: "Varela Round";
    font-style: lighter;
}